$text-color: #fff;
$first-card-banner-color: #5bb189;
$second-card-banner-color: #3a6ba5;
$third-card-banner-color: #ec632a;
$background-color: #141b1c;
$card-color-primary: #334247;
$card-color-secondary: #2a3438;
$badge-color: #dc3f45;
